<div id="container">
	
		<header role="banner">
	
			<h1>
				Cream 4 NG
				<small>All the Angular component you need!</small>
			</h1>
			
			
			<p class="c4-login-data">
				Welcome, 
				<span id="user-name">
				
				</span> 
			</p>
	
			
		</header>
		
		<nav role="navigation">
        <p class="control"><a shape="rect" title="Click to open/close menu" href="#"><img alt="Menu" src="/assets/styles/c4theme/img/nav_control.png"/></a></p>
			<h2 class="c4-skip"><a href="#wrapper">Main navigation (Skip it)</a></h2>
			<ul class="c4-navbar">
				<li class="home"><a href="#wrapper" [routerLink]="['home']">Home</a></li>
        <li class=" compo-entry"><a shape="rect" href="#components-list">cream4ng Components</a></li>
			</ul>
    </nav>
        
      
		
		<div id="wrapper">
			<div id="main" role="main">
				<router-outlet></router-outlet>
			</div>
		</div>
		
		<footer role="contentinfo">
			<p class="c4-copyright">&copy; Studio Worldline</p>
			<a [routerLink]="['contact']" >Contact Us</a>
		</footer>
		
	</div>