<section class="transitions-enabled" id="components-list">
    <h2>List of Components</h2>
    <p class="go-top">
        <a title="Top of the page" href="#"><img alt="Top" src="/assets/styles/c4theme/img/to-top.png" /></a>
    </p>
    <dl class="legend"><dt><img alt="jQuery Feature" src="/assets/styles/c4theme/img/jquery-trans.svg"/></dt>
         <dd> Angular Feature</dd>
    </dl>
    <section>
        <h3><img alt="" src="/assets/styles/c4theme/img/icon_SiteUtilities.svg" />Site Utilities</h3>
        <ul>
            <li><a href="/component/noDisplay">No Display Content</a></li>
            <li><a href="/component/orientationAid">Orientation Aid</a></li>
            <li><a   href="#pagination" [routerLink]="['/pagination']" >Pagination <img title="ANGULAR Integration" alt="Angular" src="/assets/styles/c4theme/img/angular-small.svg"/></a></li>
            
        </ul>
    </section>
    <section>
        <h3><img alt="" src="/assets/styles/c4theme/img/icon_Navigation.svg" />Navigation</h3>
        <ul>
            <li><a href="/component/skip">Skip navigation link</a></li>
    
        </ul>
    </section>
    <section>
        <h3><img alt="" src="/assets/styles/c4theme/img/icon_Forms.svg" />Forms</h3>
        <ul>
            <li><a href="/component/checkboxesAndRadios">Checkboxes / Radios</a></li>
            <li><a href="/component/confirmMessages">Confirmation Messages</a></li>
            <li><a href="/component/datalist">Datalist</a></li>
           
        </ul>
    </section>
    <section>
        <h3><img alt="" src="/assets/styles/c4theme/img/icon_Tables.svg" />Tables</h3>
        <ul>
            <li><a href="/component/dynamicTables">Dynamic Table <img title="jQuery Interactive feature" alt="jQuery" src="/assets/styles/c4theme/img/jquery-trans.svg"/> <img title="Tapestry Integration" alt="Tapestry" src="/assets/styles/c4theme/img/tapestry-small.svg"/></a></li>
        </ul>
    </section>
    <section>
        <h3><img alt="" src="/assets/styles/c4theme/img/icon_Blocks.svg" />Blocks</h3>
        <ul>
            <li><a href="/component/infoBlock">Info Block</a></li>
           
        </ul>
    </section>
   
    <section>
        <h3><img alt="" src="/assets/styles/c4theme/img/icon_Editorial.svg" />Editorial</h3>
        <ul>
            <li><a href="/component/article">Article</a></li>
            <li><a href="/component/articleEntry">Article entry</a></li>
            <li><a href="/component/quote">Block Quotation</a></li>
            <li><a href="/component/highlightBlock">Highlight Block</a></li>
            <li><a href="/component/illustration">Illustration</a></li>
            <li><a href="/component/introduction">Introduction</a></li>
            <li><a href="/component/linksList">Links List</a></li>
            
        </ul>
    </section>
    <section>
        <h3><img alt="" src="/assets/styles/c4theme/img/icon_eCommerce.svg" />eCommerce</h3>
        <ul>
            <li><a href="/component/basketSum">Basket Summary</a></li>
            <li><a href="/component/hreview">Product Review</a></li>
            <li><a href="/component/productSheet">Product Sheet</a></li>
            <li><a href="/component/hproduct">Product Template</a></li>
        </ul>
    </section>
</section>
